label {
  font-weight: 600;
  margin-bottom: 5px;
}

.content {
  width: 95%;
  margin: auto;
}
.screen_header {
  padding: 15px 30px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.screen_header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.screen_header_top p.dateTime {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding-top: 5px;
}
.screen_header h1 {
  margin: 0;
}
.screen_header select,
.table select {
  padding: 10px;
  min-width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.screen_box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
}
.choose label {
  display: block;
  font-size: 15px;
}
/* .screen_box > p {
  margin: 14px 10px;
}
.screen_img {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}
.screen_img span {
  font-size: 18px;
  margin: 10px;
} */

.table_height tbody {
  display: block;
  max-height: 400px;
  overflow: auto;
}
.table_height thead,
.table_height tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.previewDiv {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 20px 0;
}
.previewImg {
  width: 33%;
  height: auto;
  padding: 10px;
}
.previewImg img {
  width: 100%;
  height: auto;
}
.customer_feedback .previewImg {
  width: 100%;
  height: 200px;
  padding: 10px;
  position: relative;
}
.image_list {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 6px;
  cursor: pointer;
}
.image_list.active {
  border: 4px solid #cbb852;
  filter: opacity(0.8);
}
.table_height tbody.img_tbody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.table_height tbody.img_tbody tr {
  width: 25%;
}
.table_center {
  text-align: center;
  vertical-align: middle;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background: #fff;
  z-index: 99;
  border-radius: 10px;
  box-shadow: 1px 1px 16pc #1d1d1d;
}
.popup .card .row {
  padding: 0 20px;
  max-height: 75vh;
  overflow-y: scroll;
}
.popup.active {
  display: block;
}
